.plans {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-bottom: 2rem;

	.plan {
		input[type="radio"] {
			display: none;
		}

		input[type="radio"]:checked ~ label {
			background-color: var(--neutral-200);
			border-color: var(--primary-400);
		}

		label {
			padding: 1rem;
			border-radius: 0.5rem;
			display: flex;
			flex-direction: column;
			border: 1px solid var(--neutral-300);
			cursor: pointer;
			transition: all 0.2s ease-in-out;

			&:hover,
			&:focus {
				border-color: var(--primary-400);
				outline: none;
			}

			img {
				width: 40px;
				aspect-ratio: 1;
				object-fit: cover;
				margin-bottom: 4rem;
			}
			h4 {
				margin-top: auto;
				text-transform: capitalize;
			}
			p {
				font-size: 0.9rem;

				&:nth-child(4) {
					color: var(--primary-800);
					margin-top: 0.25em;
				}
			}
		}
	}
}

.billing {
	background-color: var(--neutral-200);
	padding: 1rem;
	display: flex;
	justify-content: center;
	border-radius: 0.5rem;
}
