.multiStepForm {
	background-color: var(--neutral-100);
	width: min(100%, 1000px);
	padding: 1rem;
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 320px 1fr;
	height: min(90%, 700px);
	box-shadow: 10px 10px 80px -10px rgba(0, 0, 0, 0.103);
	overflow: hidden;

	.steps {
		padding: 3rem;
		border-radius: inherit;
		background: url("../../assets/bg-sidebar-desktop.svg") no-repeat center / cover;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		overflow: auto;
	}

	.content {
		padding: 4rem 2rem 2rem;
		max-width: 600px;
		width: 100%;
		justify-self: center;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: 2rem;

		.step__component {
			flex: 1;
			overflow: auto;
		}

		.btns {
			display: flex;
			margin-top: auto;

			.goBack:hover {
				color: var(--primary-800);
			}

			button:not(.goBack) {
				color: white;
				margin-left: auto;
				font-weight: 400;

				&.next {
					background-color: var(--primary-800);
				}
				&.submit {
					background-color: var(--primary-400);
				}
			}
		}
	}
}

.step {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	cursor: pointer;

	.index {
		width: 2.5rem;
		aspect-ratio: 1;
		border-radius: 50%;
		display: grid;
		place-items: center;
		color: var(--primary-200);
		border: 1px solid;
		transition: all 0.2s ease-in-out;
	}

	&.active .index {
		border: 2px solid;
		background-color: var(--primary-200);
		color: var(--primary-800);
		border-color: var(--primary-200);
	}

	.title {
		p {
			color: var(--neutral-300);
			margin-bottom: 0.25rem;
			font-size: 0.9rem;
		}
		h3 {
			color: var(--white);
			font-size: 1rem;
		}
	}
}

.form > p,
.summary > p {
	margin-bottom: 2.5rem;
}
