@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "./reset";

.container {
	width: 100%;
	height: 100vh;
	padding: 2rem 1rem;
	display: grid;
	place-items: center;
	background-color: var(--neutral-200);
}

.sr-only {
	visibility: hidden;
	position: absolute;
	transform: translateX(-99999999px);
}

.input__group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1.5rem;
	position: relative;

	> * {
		font-weight: 400;
		font-family: inherit;
		color: var(--primary-800);
	}

	label {
		margin-left: 0.25rem;
		font-weight: 500;
	}

	input {
		padding: 0.75rem;
		font-size: 1rem;
		border: 1px solid var(--neutral-300);
		border-radius: 0.5rem;
		background-color: var(--neutral-100);
		outline: none;
		font-weight: 500;

		&::placeholder {
			color: var(--neutral-400);
		}

		&:focus {
			border-color: var(--primary-400);
		}
	}

	&:has(.error) input {
		border-color: rgb(216, 32, 32);
	}

	.error {
		position: absolute;
		font-weight: 500;
		right: 0;
		font-size: 0.8rem;
		color: rgb(216, 32, 32);
		margin-left: 0.25rem;
	}
}

@media (max-width: 800px) {
	.container {
		padding: 0;
	}
}
